textarea{
    display: none;
}

#smoking-box, #steroid-hide, #dosette-hide, #anticoag-hide, #dms-hide{
    display: none;
}

#changes{
    width:400px;
    height: 400px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }